@model IEnumerable<Recipe.Models.DbRecipe.Recipe>

<p>
    @Html.ActionLink("Create New", "AddRecipe")
</p>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                        <!-- Box -->
                <div class="4u 12u(medium)" style="height:30%; max-height:400px;">
                    <section class="box feature" style="height:30%; max-height:380px;">
                        <a href="#" class="image featured"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="" /></a>
                        <div class="inner" style="padding-top:5px;">
                            <header style=" margin:0,0,1em,0;">
                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            </header>
@{
    if (item.Description.Length > 70)
    {
        <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString().Substring(0, 70)</p>
    }
    else
    {
        <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString()</p>
    }
}

                            @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId }) |
                        </div>
                    </section>
                </div>
            }

        </div>
    </div>
</div>

</table>
