@model IEnumerable<Recipe.Models.DbRecipe.Recipe>

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: 0.9;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            transition: 0.5s;
        }

            .sidenav a:hover, .offcanvas a:focus {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    media screen and (max-height: 450px) {
        .sidenav;

    {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    }
</style>

<div id="mySidenav" class="sidenav" style="height:100%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @using (Html.BeginForm("AllRecipe", "Recipe", FormMethod.Get))
    {
        @*<p style="margin:10px;">*@
            @*@Html.ListBox("Ingredients", ViewBag.Ingredients as MultiSelectList)*@
            @*<p style="margin:10px;">Ingredient: @Html.ListBox("Ingredients", (MultiSelectList)ViewBag.Ingredients, new { multiple = "multiple" })*@
        <p style="margin:10px;">
            Ingredient: @Html.DropDownList("Ingredients", (MultiSelectList)ViewBag.Ingredients,"All", new { @class = "dropdown", multiple = "multiple",  @style = "height: 400px;" })

            Title: @Html.TextBox("SearchString")
        </p>

        <input type="submit" style="margin:10px;" value="Ok" />
        }
    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("main").style.transition = "0.5s";


}
    
window.onload = function () {
    
    var Blocks = document.getElementsByClassName("box feature");
    var maxBlock;
    for(var item in  Blocks) {
        if (Blocks[item].clientHeight > maxBlock) {
            maxBlock = Blocks[item].clientHeight;
        }

        window.onload = function () {
            var Blocks = document.getElementsByClassName("box feature");
            var maxBlock;
            for (var item in Blocks) {
                if (Blocks[item].clientHeight > maxBlock) {
                    maxBlock = Blocks[item].clientHeight;
                }
            };

    document.getElementById("main").style.transition = "0.5s";
    
    $(".rating").rating();
    $(".rating-locked").rating({ displayOnly: true });
    $('.rating').on('rating.change', function (event, value, caption) {
        $.ajax({
            type: "POST",
            url: "/Recipe/RateRecipe",
            data: JSON.stringify({RecipeId: event.currentTarget.attributes["data-recipeId"].value, value: value}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess
        });
        //location.reload();
        function OnSuccess(response) {
            window.reload();
        }
    });
};


</script>

    </script>

    <div id="main">
        <p>
            @Html.ActionLink("Create New", "AddRecipe")
        </p>


        <button style="font-size:15px;cursor:pointer" onclick="openNav()"> Filter </button>

        <!-- Features -->
        <div id="features-wrapper">
            <div>

                <div class="row">

                    @foreach (var item in Model)
                {
                        <!-- Box -->
                        <div class="box feature" style="height: 20%; width: 23%; margin:1%;">
                            <section style="margin:0px; padding:0;">
                                <a href="#" class="image featured"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="" /></a>
                                <div style="padding-top:5px; height: 20%; width: 100%;">
                                    <header style="margin:0,0,1em,0;">
                                        @{
                                            if (item.Name.Length > 25)
                                            {
                                                <h4>@Html.DisplayFor(modelItem => item.Name).ToHtmlString().Substring(0, 25) </h4>
                                            }
                                            else
                                            {
                                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                            }
                                        }
                                    </header>
                                    @{
                                        if (item.Description.Length > 70)
                                        {
                                            <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString().Substring(0, 70)...</p>
                                        }
                                        else
                                        {
                                            <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString()</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString()</p>
                                    }
                                }
                            </div>
                        </section>
                        <div class="row">
                            
                            <div class="pull-left" style="padding-bottom:0; margin-left: 9px">
                                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId })
                            </div>
                            <div class="pull-right">
                                @{
                                    if (item.Rating == 0)
                                    {
                                            <span class="badge" style="margin-right: 15px">Recipe is not rated</span>
                                        
                                    }
                                    else
                                    {
                                        <span class="badge">@Html.DisplayFor(modelItem => item.Rating)</span>
                                    }
                                }
                                @if (ViewBag.currentUserId != null)
                                {

                                    Boolean wasRated = false;
                                    double mark = 0;
                                    if (item.RatedUsers != null)
                                    {
                                        for (int i = 0; i < item.RatedUsers.Count; i++)
                                        {
                                            if (item.RatedUsers[i].UserId.Equals(ViewBag.currentUserId))
                                            {
                                                mark = item.RatedUsers[i].Mark;
                                                wasRated = true;
                                            }
                                        }
                                    }
                                    if (!wasRated)
                                    {
                                        <input class="rating rating-loading" data-recipeId="@item.RecipeId" data-show-caption="true" data-show-clear="false" value=@Html.DisplayFor(modelItem => item.Rating) data-min="0" data-max="5" data-step="0.1" data-size="xs">
                                    }
                                    else
                                    {
                                        
                                        <input class="rating rating-loading" data-recipeId="@item.RecipeId" value=@mark data-show-clear="false" data-size="xs">
                                    }
                                }
                                else
                                {
                                    <input class="rating-loading rating-locked" value=@Html.DisplayFor(modelItem => item.Rating) data-size="xs">
                                }

                            </div>
                        </div>
                        
                    </div>
                 }

                </div>
            </div>
        </div>

    </div>